/* Style CSS pour le portfolio */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0D2E5A;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    margin-bottom: 0px;
}

h2{
    font-size: 35px;
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.project {
    margin-bottom: 40px;
}
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container #skills ul{
    list-style-type: none;
}

.container #skills{
    padding: 0px;

}
nav{
    background-color: #0D2E5A;
    font-weight: bold;
    font-size: 21px;
    position: fixed;
    top: 0; /* La barre de navigation reste en haut */
    width: 100%; /* La barre de navigation occupe toute la largeur */
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}

.project h4 {
    color: #000;
}

.project p {
    margin-bottom: 10px;
}

nav ul li {
    margin-bottom: 5px;
    margin-right:100px ;
}

footer {
    background-color: #0D2E5A;
    color: #fff;
    padding: 20px 0;
}

.social-icons img {
    width: 50px;
    height: 50px;
    margin: 0 10px;

}

h2{
    color: #0D2E5A;
}

header img {
    width : 10vw ;
    height: 10vw ;
    border-radius: 50%;
}
footer p {
    font-weight: bold;
    margin-left: 10px;
    font-size: 30px;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: #fff;
    text-decoration: none;
}

form{
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
}

form h1{
    font-size: 30px;
    text-align: center;
}

form .separation{
    width: 100px;
    height: 2px;
    background-color: #0D2E5A;
    margin: auto;
}

form .corps-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
form .corps-formulaire .boite{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gauche .boite input{
    margin-top: 5px;
    padding:10px 5px 10px 30px ;
    border:1px solid #c9c9c9;
    outline-color: #0D2E5A;
    border-radius: 10px;
}

form .corps-formulaire .gauche .boite i{
    position: absolute;
    left: 0;
    top: 25px;
    padding: 15px 8px;
    color:#0D2E5A;
}

form .corps-formulaire .droite{
    margin-left: 40px;
}

form .corps-formulaire .droite .boite{
    height: 100%;
}

form .corps-formulaire .droite .boite textarea{
    margin-top:5px ;
    padding: 10px;
    background-color: #d8d8d8;
    border: 2px solid #0D2E5A;
    outline: none;
    border-radius:10px ;
    resize: none;
    height: 200px;
}
form .pied-formulaire{
    justify-content: center;
    display: flex;
    align-items: center;
}
textarea{
    width: 100%;
}
form .pied-formulaire button{
    margin-top: 10px;
    background-color: #0D2E5A;
    color: #ffffff;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

form .pied-formulaire button:hover{
    transform: scale(1.05);

}

form h1{
    color: #0D2E5A;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#0D2E5A; /* Fond semi-transparent */
    z-index: 999; /* Assure que la superposition soit au-dessus de tout le reste */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 1s ease-in-out; /* Animation de transition */
}

#overlay-content {
    text-align: center;
}
#overlay-content h2{
    color: #fff;
    font-size: 50px;
}
#overlay.hidden {
    top: -100%; /* Déplace la superposition hors de l'écran */
}

@media screen and (max-width:526px){
    form .corps-formulaire .droite{
        margin-left: 0px;
    }
}
@media screen and (max-width: 880px){
    header img {
        width : 120px ;
        height: 120px ;
        border-radius: 50%;
        border: 4px solid #0D2E5A;
    }
}

.project a{
    text-decoration: none;
    font-weight: bold;
    color: #0D2E5A;
}
